In [2]:
#Excercise 1
# printing name, student Id, Email
print('Aishwarya Janardhan M')
print('ST1001')
print('shivaishwarya14@gmail.com')

Aishwarya Janardhan M
ST1001
shivaishwarya14@gmail.com

In [3]:
#Excercise 2
#python code using escape sequence
print('Aishwarya Janardhan M \nST1001 \nshivaishwarya14@gmail.com')

Aishwarya Janardhan M
ST1001
shivaishwarya14@gmail.com

In [7]:
#Excercise 3
# adding,substracting, multiplying and dividing two numbers
a=14
b=7
print(f"{a}+{b} = {a+b}")
print(f"{a}-{b} = {a-b}")
print(f"{a}*{b} = {a*b}")
print(f"{a}/{b} = {a/b}")

14+7 = 21
14-7 = 7
14*7 = 98
14/7 = 2.0

In [9]:
#Excercise 4
# Displaying number 1 to 5 in steps
print('1 \n2 \n3 \n4 \n5')

1
2
3
4
5

In [12]:
#Excercise 5
# writing the same sentence including letters and characters
print("\"SDK\" stands for \"Software Development Kit\", whereas \"IDE\" stands for \"Integrated Development Environment\".")

"SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment".

In [17]:
#Excercise 6
# checking for outputs
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65") 
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

In [61]:
#Excercise 7
# checking the variables
num = 23
textnum = "57"
decimal = 98.3
print('The type of num is:',type(num))
print('The type of textnum is:',type(textnum))
print('The type of decimal is:',type(decimal))
The_sum_of_Variables = num+ int(textnum)+ decimal
print("Sum:", The_sum_of_Variables)
print('type of sum is:', type(The_sum_of_Variables))

The type of num is: <class 'int'>
The type of textnum is: <class 'str'>
The type of decimal is: <class 'float'>
Sum: 178.3
type of sum is: <class 'float'>

In [62]:
#Excercise 8
# Calculating number of minutes in a year
No_of_days_in_a_year = 365
Minute_in_a_hour = 60
Hours_in_a_day = 24
The_total_minutes_in_a_year = No_of_days_in_a_year*Minute_in_a_hour*Hours_in_a_day
print(f"The total number of minutes in a year :{The_total_minutes_in_a_year}")

The total number of minutes in a year :525600

In [1]:
#Excercise 9
# printing an automatic greeting message while entering a name
Name = input("Please enter you name:")
print(f"Hi {Name}, welcome to Python programming :)")

Please enter you name: Aishwarya

Hi Aishwarya, welcome to Python programming :)

In [63]:
#Excercise 10
#Converting amount in pound to dollar(Same also attached with notepad document with file name)
Pounds = float(input('enter an amount in pounds:(£)'))
Dollar_conversion_rate = 1.26
Dollars = Pounds * Dollar_conversion_rate 
print(f"£{Pounds} are ${Dollars}")

enter an amount in pounds:(£) 78

£78.0 are $98.28